<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/my_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息管理系统登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="shortcut icon" href="../../favicon.ico" />
</head>
<body>
<div class="page">
<div class=" m-container-small m-padded-tb-massive  " style="max-width: 30em !important;">
    <div class="ui container ">
        <div class="ui middle aligned center aligned grid ">
            <div class="column ">
                <h2 class="ui teal image header ">

                    <img src="/images/avatar.png" alt="" class="ui rounded bordered fluid image">
                    <h1>
                        管理信息系统登录
                    </h1>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登   录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}">没有权限,请登录</div>
                    <div class="ui mini negative message" th:text="${message}" th:if="${not #strings.isEmpty(message)}" >用户名和密码错误</div>

                </form>

            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="/admin/my_fragment :: footer"  class="ui inverted vertical segment ">
    <div class="ui center aligned container m-background fluid">
        <div class="ui  divided grid">
            <div class="four wide cloumn">

            </div>
            <div class="ui right aligned four wide column">
                <h4 class="ui inverted header m-opacity m-text-spaced m-margin-bottom  m-padded-right">最新博客</h4>
                <div class="ui  link list inverted vertical m-text m-padded-right">
                    <a href="#" class="ui center aligned item">文章1</a>
                    <a href="#" class="item">文章2</a>
                    <a href="#" class="item">文章3</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui  header m-opacity m-text-spaced m-margin-bottom  inverted">联系我</h4>
                <div class="ui inverted link list  ">
                    <a href="#" class="item">Email：907621120@qq.com</a>
                    <a href="#" class="item section">QQ：907621120</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui  header m-opacity m-text-spaced m-margin-bottom  inverted">最新博客</h4>
                <p class=" m-text  m-opacity-tiny m-text-color ">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人带来帮助。。。</p>
            </div>
        </div>
        <div class="ui inverted segment ">
            <p class="m-text m-text-spaced m-opacity m-padded-tb-segment ">Copyright © 2019 - 2020 Laihaolong Designed by Laihaolong</p>
        </div>

    </div>
</footer>
<!--/*/<th:block th:replace="admin/my_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'username',
                rules: [{
                    type : 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password : {
                identifier: 'password',
                rules: [{
                    type : 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>

</body>
</html>